body { background-color:#000000; text-align:center; }
#page { width:900px; margin-left:auto; margin-right:auto; }
h2 { color:#FF6600; }
a { color:#FF6600; text-decoration:none; }
footer { text-align:right; font-size:12px; }
